#navlogo {
	height: 120px;
	width: 160px;
	margin-left: 50px;
}

#headersize{
	height: 140px;
	margin-top: 10px;
}

.navstyle{
	background-color: black;
}

.dankr{
	height: 1250px;
	padding-top: 150px;
	background: blue;
}

.navbar-link{
	text-decoration: none !important; 
	font-size: 50px;
	margin-right: 200px;

}


